<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <script src='angular.js'> </script>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>
<body ng-app="car" ng-controller="con">

<!--搜索按钮-->
<form class="form-inline">
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon"></div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入搜索内容" ng-model="search">
            <div class="input-group-addon  btn btn-warning">立即搜索</div>
        </div>
    </div>
</form>

<!--主体-->
   <table class="table text-center">
       <tr>
           <th class="text-center">名称</th>
           <th class="text-center">单价</th>
           <th class="text-center">数量</th>
           <th class="text-center">价格</th>
           <th class="text-center">操作</th>
       </tr>
       <tr ng-show="data.length==0"><td style="text-align: center;font-size: 30px;color:#cccccc" colspan="5">购物车没有东西哦~~~</td></tr>
       <tr ng-repeat="s in data | filter:{type:search}" ng-hide="data.length<0">
           <td>{{s.type}}</td>
           <td>{{s.price}}</td>
           <td><form class="form-inline">
               <div class="form-group">
                   <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                   <div class="input-group">
                       <div class="input-group-addon" ng-click="jian(s.id)">-</div>
                       <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入数量" ng-model="s.nums">
                       <div class="input-group-addon" ng-click="add(s.id)">+</div>
                   </div>
               </div>
           </form></td>
           <td>{{s.price*s.nums}}</td>
           <td ng-click="del(s.id)"><button type="button" class="btn btn-danger">删除</button>
           </td>
       </tr>
       <tr>
           <td class="colstan"></td>
           <td class="colstan"></td>
           <td>总数量 <span style="color:orange;font-size: 25px">{{getnums()}}</span></td>
           <td>总价格 <span style="color:orange;font-size: 25px">{{getprices()}}</span></td>
           <td><button type="button" class="btn btn-danger" ng-click="clear()">清空购物车</button>
           </td>
       </tr>
   </table>
</body>
<script>
    angular.module("car",[]).controller("con",['$scope',function (c) {
          c.search="";
          c.data=[
              {id:1,type:"上衣",nums:2,price:122},
              {id:2,type:"下装",nums:4,price:142},
              {id:3,type:"帽子",nums:3,price:12},
              {id:4,type:"鞋",nums:1,price:148},
              {id:5,type:"裤衩",nums:3,price:15},
          ];
          c.getprices=function () {
                var price=0;
                c.data.forEach(function (val,index){
                      price+=val.nums*val.price
                });
              return price;
          };
          c.getnums=function () {
              var nums=0;
              c.data.forEach(function (val,index) {
                  if(parseInt(val.nums)>0&&parseInt(val.nums)){
                      nums+=parseInt(val.nums)
                      val.nums=parseInt(val.nums)
                  }else{
                      val.nums=0;
                  }
              });
              return nums;
          };
          c.del=function (id) {
              c.data.forEach(function (val,index) {
                  if(val.id==id){
                      c.data.splice(index,1)
                  }
              });
          };
          c.clear=function () {
              c.data=[];
          }
          c.jian=function (id) {
              c.data.forEach(function (val,index) {
                  if(val.id==id){
                      val.nums--
                  }
              });
          }
          c.add=function (id) {
              c.data.forEach(function (val,index) {
                  if(val.id==id){
                      val.nums++
                  }
              });
          }
          c.$watch("data",function (oldvalues,newvalues) {  //手动检测用$watch检测data变化
//              console.log(oldvalues,newvalues)  //双向绑定实现的原理会对比新值和旧值
          },true)
    }])
</script>
</html>