<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="script/angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-app="myapp">
<!--<form class="form-inline">-->
    <div class="form-group">
        <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
            <input type="text" class="form-control" id="exampleInputAmount" placeholder="search" ng-model="search">
            <!--<div class="input-group-addon">.00</div>-->
        </div>
    </div>
    <!--<button type="submit" class="btn btn-primary">Transfer cash</button>-->
<!--</form>-->
    <table class="table text-center" ng-controller="control">
        <tr>
            <th class="text-center">种类</th>
            <th class="text-center">数量</th>
            <th class="text-center">价格</th>
            <th class="text-center">总价</th>
            <th class="text-center">操作</th>
        </tr>
        <tr>
            <td colspan="5" ng-show="data.length==0">没有信息</td>
        </tr>
        <tr ng-repeat="item in data | filter:{name:search}">
            <td>{{item.name}}</td>
            <td><form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon" ng-click="jian(item.id)">—</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="{{item.nums}}" ng-model="item.nums">
                        <div class="input-group-addon" ng-click="jia(item.id)">+</div>
                    </div>
                </div>
            </form></td>
            <td>{{item.prices}}</td>
            <td>{{item.nums*item.prices}}</td>
            <td><button type="button" class="btn btn-danger" ng-click="del(item.id)">删除</td>
        </tr>
        <tr>
            <td>总数</td>
            <td>{{nums()}}</td>
            <td>总价格</td>
            <td>{{prices()}}</td>
            <td><button type="button" class="btn btn-info" ng-click="clear()">清空</td>
        </tr>
    </table>
</body>
<script>
    angular.module("myapp",[]).controller("control",["$scope",function($scope){
        $scope.data=[
            {id:1,prices:100,nums:1,name:"电脑"},
            {id:2,prices:200,nums:2,name:"电视"},
            {id:3,prices:300,nums:3,name:"冰箱"},
            {id:4,prices:400,nums:1,name:"彩电"},
            {id:5,prices:500,nums:2,name:"洗衣机"},
            {id:6,prices:100,nums:3,name:"手机"}
        ];
        $scope.clear=function(){
            $scope.data=[];
        }
        $scope.nums=function(){
           var nums=0;
           console.log(1);
            $scope.data.forEach(function(val,index){
//                var nums=val.nums;
                if(parseInt(val.nums)>0&&parseInt(val.nums)){
                    nums+=parseInt(val.nums);
                    val.nums=parseInt(val.nums);
                }else{
                    val.nums=0;
                }
            })
            return nums;
        }
        $scope.prices=function(){
            var nums=0;
            $scope.data.forEach(function(val,index){
                nums+=val.nums*val.prices;
            })
            return nums;
        }
        $scope.del=function(id){
            $scope.data.forEach(function(val,index){
                if(id===val.id){
                    $scope.data.splice(index,1);
                }
            })
        }
//        $scope.$watch=function(){
//
//        }
        $scope.jia=function(id){
            $scope.data.forEach(function(val,index){
                if(id===val.id){
                    val.nums++;
                }
            })
        }
        $scope.jian=function(id){
            $scope.data.forEach(function(val,index){
                if(id===val.id){
                    val.nums--;
                }
            })
        }
    }])
</script>
</html>