<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="script/angular.min.js"></script>
</head>
<body ng-app="car">
<div ng-controller="shop">
    <div class="row" >
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        搜索
                    </button>
                </span>
                <input type="text" class="form-control" placeholder="Search for..."  ng-model="searchText">
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
<table class="table table-bordered text-center">
    <tr>
        <th class="text-center">种类</th>
        <th class="text-center">单价</th>
        <th class="text-center">数量</th>
        <th class="text-center">总价</th>
        <th class="text-center">操作</th>
    </tr>

    <tr ng-show="data.length==0">
        <td colspan="5">购物车已空，请添加</td>
    </tr>

    <tr ng-hide="data.length==0" ng-repeat="item in data | filter:{name:searchText}">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount"></label>
                    <div class="input-group">
                        <div class="input-group-addon" ng-click="jian(item.id)">-</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" ng-model="item.num">
                        <div class="input-group-addon" ng-click="jia(item.id)">+</div>
                    </div>
                </div>
            </form>
        </td>
        <td>{{item.num*item.price}}</td>
        <td><button type="button" class="btn btn-danger" ng-click="del(item.id)">删除</button></td>
    </tr>

    <tr>
        <td colspan="2"  class="text-center">总数：</td>
        <td  class="text-center">{{getnum()}}</td>
        <td  class="text-center">{{getprice()}}</td>
        <td  class="text-center"><button type="button" class="btn btn-danger" ng-click="clear()">清空购物车</button></td>
    </tr>
</table>

</div>
</body>
<script>
    angular.module("car",[])
        .controller("shop",["$scope",function ($scope) {
            $scope.data=[
                {id:1,name:"袜子",price:12,num:1},
                {id:2,name:"外套",price:120,num:1},
                {id:3,name:"鞋子",price:124,num:1},
                {id:4,name:"裤子",price:142,num:1},
                {id:5,name:"牛仔",price:122,num:1},
            ];
            $scope.getnum=function () {
                var num=0;
                $scope.data.forEach(function (val,index) {
                    var newNum=val.num;
                    if(parseInt(newNum)>0&&parseInt(newNum)){
                        num+=parseInt(newNum);
                        val.num=parseInt(newNum);
                    }else{
                        val.num=0;
                    }
                })
                return num;
            };
            $scope.getprice=function () {
                var num=0;
                $scope.data.forEach(function (val,index) {
                    num+=val.price*val.num;
                })
                return num;
            };
            $scope.del=function (inde) {
//                console.log(index);
                $scope.data.forEach(function (val,index) {
                    if(val.id==inde){
                        $scope.data.splice(index-1,1);
                    }
                })
            };
            $scope.clear=function () {
                $scope.data=[];
            };

            $scope.searchText="";
            $scope.jian=function($index){
                $scope.data.forEach(function(val,index){
                    if(val.id==$index){
                        if(val.num>0){
                            val.num--;
                        }
                    }
                })
            }
            // 数量增加
            $scope.jia=function($index){
                $scope.data.forEach(function(val,index){
                    if(val.id==$index){
                        val.num++;
                    }
                });
            }

//            $scope.$watch("data",function (old,news) {
//                console.log(old);
//                console.log(news);
//            },true);
//            true表示检测引用数据类型，false  检测简单类型
        }])
</script>
</html>