<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="angular.min.js"></script>
</head>
<body ng-app="car">
<div ng-controller="control">
<div style="width: 1200px;margin:20px auto" class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        <input type="text" class="form-control" id="exampleInputAmount" placeholder="search" ng-model="search">
    </div>
</div>
<table style="width: 1200px;margin:auto" class="table table-condensed text-center">
    <tr>
        <th class="text-center">名称</th>
        <th class="text-center">单价</th>
        <th class="text-center">数量</th>
        <th class="text-center">总价</th>
        <th class="text-center">操作</th>
    </tr>
    <tr ng-show="data.length==0">
        <td colspan="5">
            购物车没有商品
        </td>
    </tr>
    <tr ng-repeat="item in data | filter:{name:search}" ng-hide="data.length==0">
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon" ng-click="jian(item.id)">-</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="num" ng-model="item.num">
                        <div class="input-group-addon" ng-click="jia(item.id)">+</div>
                    </div>
                </div>
            </form>
        </td>
        <td>{{item.num*item.price}}</td>
        <td>
            <button class="btn btn-danger" type="submit" ng-click="del(item.id)">删除</button>
        </td>
    </tr>
    <tr>
        <td>总数量</td>
        <td>{{getNums()}}</td>
        <td>总金额</td>
        <td>{{getPrice()}}</td>
        <td><button ng-click="clear()" class="btn btn-danger" type="submit">清空购物车</button></td>
    </tr>
</table>
</div>
</body>
<script>
   angular.module("car",[]).controller("control",["$scope",function($scope){
       $scope.search="";
       $scope.data=[
           {id:1,name:"衣服",price:100,num:1},
           {id:2,name:"手机",price:2000,num:1},
           {id:3,name:"袜子",price:10,num:2},
           {id:4,name:"裤子",price:100,num:1},
           {id:5,name:"电脑",price:3200,num:1}
       ]
       $scope.getNums=function(){
           var nums=0;
           $scope.data.forEach(function(val,index){

                   var num=val.num;
                   if(parseInt(num)>0 && parseInt(num)){
                       nums+=parseInt(num);
                       val.num=parseInt(num);
                   }else{
                       val.num=0;
                   }

           })
           return nums;
       }
       $scope.getPrice=function(){
           var nums=0;
           $scope.data.forEach(function(val,index){
               nums+=val.num*val.price;
           })
           return nums;
       }
       $scope.del=function(id){
           $scope.data.forEach(function(val,index){
               if(val.id===id){
                   $scope.data.splice(index,1);
               }
           })
       }
       $scope.jian=function(id){
           $scope.data.forEach(function(val,index){
               if(val.id===id){
                   val.num--;
               }
           })
       }
       $scope.jia=function(id){
           $scope.data.forEach(function(val,index){
               if(val.id===id){
                   val.num++;
               }
           })
       }
       $scope.clear=function(){
           $scope.data=[];
       }
   }])
</script>
</html>