<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="script/angular.min.js"></script>
</head>
<body ng-app="myapp">
<div ng-controller="control">
    <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" id="inputGroupSuccess1" aria-describedby="inputGroupSuccess1Status" placeholder="search" ng-model="search">
    </div>
    <table class="table .table-hover text-center">
        <tr>
            <th class="text-center">类别</th>
            <th class="text-center">价格</th>
            <th class="text-center">数量</th>
            <th class="text-center">总价</th>
            <th class="text-center">操作</th>
        </tr>
        <tr ng-show="data.length==0">
            <td colspan="5">购物车为空</td>
        </tr>
        <tr ng-repeat="item in data | filter:{name:search}" ng-hide="data.length==0">
            <td>{{item.name}}</td>
            <td>{{item.price}}</td>
            <td>
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon" ng-click="jian(item.id)"> - </div>
                            <input type="text" class="form-control text-center"  placeholder="num" ng-model="item.num">
                            <div class="input-group-addon" ng-click="jia(item.id)"> + </div>
                        </div>
                    </div>
                </form>
            </td>
            <td>{{item.price*item.num}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="del(item.id)">删除</button>
            </td>
        </tr>
        <tr>
            <td>总数量</td>
            <td>{{getNum()}}</td>
            <td>总价格</td>
            <td>{{getPrice()}}</td>
            <td>
            <button type="button" class="btn btn-danger" ng-click="clear()">全部清空</button>
            </td>
        </tr>
    </table>
</div>
</body>
<script>
    angular.module("myapp",[]).controller("control",['$scope',function ($scope) {
        $scope.data=[
            {id:1,name:'袜子',price:10,num:2},
            {id:2,name:'裤子',price:100,num:1},
            {id:3,name:'帽子',price:50,num:3},
            {id:4,name:'鞋子',price:100,num:4},
        ];
        $scope.search='';
        $scope.getNum=function () {
            var nums=0;
            $scope.data.forEach(function (val,index) {
                var num=val.num;
                if(parseInt(num)>0&&parseInt(num)){
                    nums+=parseInt(num);
                    val.num=parseInt(num);
                }else{
                    val.num=0;
                }
            })
            return nums;
        };
        $scope.jia=function (id) {
            $scope.data.forEach(function (val,index) {
                if(id==val.id){
                    val.num++;
                }
            })
        };
        $scope.jian=function (id) {
            $scope.data.forEach(function (val,index) {
                if(id==val.id){
                    val.num--;
                }
            })
        };
        $scope.getPrice=function () {
            var prices=0;
            $scope.data.forEach(function (val,index) {
                prices+=val.num*val.price;
            });
            return prices;
        };
        $scope.del=function (id) {
            $scope.data.forEach(function (val,index) {
                if(id==val.id){
                    $scope.data.splice(index,1);
                }
            })
        };
        $scope.clear=function () {
            $scope.data=[];

        }
    }]);
</script>
</html>