<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>购物车功能</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <style>
        .table th,.table td{
            text-align: center;
        }
        .input-group{
            padding: 10px;
        }
    </style>
</head>
<body ng-app="myapp">
<div ng-controller="car">
    <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">
            <span class="glyphicon glyphicon-search"></span>
        </span>
        <input type="text" class="form-control" placeholder="Search" aria-describedby="sizing-addon2" ng-model="search">
    </div>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>名称</th>
                <th>价格</th>
                <th>数量</th>
                <th>总价</th>
                <th>操作</th>
            </tr>
            <tr ng-show="item.length==0">
                <td>没有商品信息</td>
            </tr>
            <tr ng-repeat="item in data | filter:{name:search}:false" ng-hide="item.length==0">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount"></label>
                            <div class="input-group">
                                <div class="input-group-addon" ng-click="reduce(item.id)">-</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="{{item.num}}">
                                <div class="input-group-addon" ng-click="add(item.id)">+</div>
                            </div>
                        </div>

                    </form>
                </td>
                <td>{{item.price*item.num}}</td>
                <td>
                    <a class="btn btn-danger" href="#" role="button" ng-click="del(item.id)">删除</a>
                </td>
            </tr>
            <tr>
                <td>总数量</td>
                <!--<td ng-bind="getNums()"></td>-->
                <td>{{getNums()}}</td>
                <td>总价格</td>
                <td ng-bind="getPrices()"></td>
                <td>
                    <a class="btn btn-danger" href="#" role="button" ng-click="clear()">清空</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
<script>
    angular.module("myapp",[]).controller("car",["$scope",function ($scope) {
        $scope.data=[
            {id:1,name:"衣服",price:100,num:2},
            {id:2,name:"护肤品",price:300,num:2},
            {id:3,name:"零食",price:50,num:3},
            {id:4,name:"饮料",price:20,num:5},
            {id:5,name:"花卉",price:180,num:2}
        ];
        //计算总数量
        $scope.getNums=function () {
            var nums=0;
            $scope.data.forEach(function (val,index) {
                if(val.num>0&&val.num){
                    nums+=parseInt(val.num);
                }else{
                    nums=0;
                }
            });
            return nums;
        };
        //计算总价格
        $scope.getPrices=function () {
            var prices=0;
            $scope.data.forEach(function (val,index) {
                prices+=val.price*val.num;

            });
            return prices;
        };
        //删除
        $scope.del=function (id) {
            $scope.data.forEach(function (val,index) {
                if(id===val.id){
                    $scope.data.splice(index,1);
                }
            });
        };
        //清空
        $scope.clear=function () {
            $scope.data=[];
        };
        //减少
        $scope.reduce=function (id) {
            $scope.data.forEach(function (val,index) {
                if(id===val.id){
                   val.num--;
                }
            });
        }
        //增加
        $scope.add=function (id) {
            $scope.data.forEach(function (val,index) {
                if(id===val.id){
                    val.num++;
                }
            });
        }


    }]);
</script>
</html>